/* You can add global styles to this file, and also import other style files */
form {
  width: 600px;
  margin: 10px auto;
}

label {
  font-size: 12px;
}


.validation-error p {
  color: brown;
  border-left: 3px solid brown;
  padding-left: 5px;
}
